.listPost {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
}

.listPost li {
    justify-self: center;
}

@media (min-width: 750px) and (max-width: 990px) {
    .listPost {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 500px) and (max-width: 750px) {
    .listPost {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .listPost {
        grid-template-columns: 1fr;
    }
}
